body {
  background-color: black;
  color: white;
}
.game-button {
  background-color: #3799e6;
  padding: 4px 15px;
  font-size: 17px;
  color: white;
  border: 1px solid #3799e6;
  border-radius: 3px;
  cursor: pointer;
}

.game-button:hover {
  background-color: #4aa5ef;
}

.game-button:active {
  background-color: #1866a7;
  border-color: #1866a7;
}

.invisible {
  display: none;
}

.bet-slider {
  width: 65vw;
}
